/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--main-fon, sans-serif);
  color: var(--main-color, #f1b2ce);
  font-size: 18px;
  background-image: var(--bg-img-header);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  transition-duration: 0.5s;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.decorated-zone {
  content: "";
}

.decorated-zone::before {
  content: "";
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  right: 10px;
  top: 10px;
  border-top: 1px solid var(--accent-color, #ff0070);
  border-right: 1px solid var(--accent-color, #ff0070);
}

.decorated-zone::after {
  content: "";
  block-size: 25px;
  inline-size: 25px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--accent-color, #ff0070);
  border-left: 1px solid var(--accent-color, #ff0070);
}

.rec-text {
  position: absolute;
  display: flex;
  flex-direction: row;
  font-family: var(--main-font, sans-serif);
  color: var(--accent-color-rec, #ff0070);
  text-transform: uppercase;
  font-weight: 400;
  right: 19px;
  top: 12px;
}

.rec-text::after {
  content: "";
  display: flex;
  margin-inline-start: 9px;
  margin-block-start: 6px;
  block-size: 9px;
  inline-size: 9px;
  background-color: var(--bg-color-decor, #ff0070);
  border-radius: 50%;
  box-shadow: 0 0 8px var(--bg-color-decor, #ff0070);
}

.header__theme-menu {
  display: flex;
  justify-content: flex-end;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  padding-inline: 13px;
  margin-block-end: 1px;
  font-family: var(--main-font, sans-serif);
  color: var(--accent-color, #ff0070);
  font-weight: 400;
  text-transform: lowercase;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color, #ff0070);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color, #353430);
  outline-offset: 4px;
}

button:disabled {
  pointer-events: none;
  outline: 1px solid var(--accent-color, #353430);
}

.header__title {
  color: var(--header-color, #db00ff);
  text-shadow: 4px 4px 0 var(--header-color, #ff0070);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: var(--accent-font, sans-serif);
  font-weight: 700;
  line-height: 82.5%; /* 129.525px */
}

.header__block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__block-content {
  display: block;
  text-align: left;
}

.header__block-content span {
  display: block;
}

.title-decor {
  background-color: var(--bg-color-main, #ff0070);
  font-family: var(--main-font, sans-serif);
  color: var(--title-color, #000028);
  font-weight: 700;
  line-height: 23.4px;
}

.content {
  padding-block: 40px;
  padding-inline: 10px;
}
.content__section {
  padding-block-end: 50px;
}

/*--------------------content__section-why---------------*/

.content__section-why {
  display: grid;
  grid-template-rows: min-content 1fr 1fr;
  gap: 20px;
  grid-auto-flow: column dense;
}

.main__title-second {
  color: var(--accent-color, #ff0070);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.main__title-third {
  margin-block-end: 10px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.content__section-text {
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

.link__text {
  text-decoration: none;
  text-shadow: 2px 2px var(--header-color, #ff0070);
}

.link__text:focus {
  outline: none;
}

.link__text:focus-visible {
  outline: 1px solid var(--main-color, #f1b2ce);
  outline-offset: 1px;
}

.link__text:hover {
  border-block-end: 1px solid var(--main-color, #f1b2ce);
}

.link__text:disabled {
  pointer-events: none;
}

/*--------------------content__section-what---------------*/
.content__section-what {
  display: grid;
  grid-template-rows: min-content repeat(3, fit-content(727px));
  gap: 20px;
}

/*--------------------content__section-how---------------*/

.content__section-how {
  display: grid;
  grid-template-rows: min-content repeat(5, fit-content(471px));
  gap: 20px;
}

.content__section-how .main__title-third {
  margin-block-end: 20px;
}

.section-how-title {
  font-weight: 400;
  margin-block-end: 10px;
}

/*--------------------content__gallery---------------*/
.content__section-gallery {
  display: grid;
  grid-template-rows: repeat(6, min-content);
  gap: 10px;
}

.content__section-gallery .main__title-third {
  margin-bottom: 0;
}

.gallery {
  inline-size: 100%;
}

.content .content__section-gallery {
  padding-block-end: 0;
}
/*-------------------------footer--------------------*/
.footer {
  position: relative;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title {
  color: var(--header-color, #db00ff);
  text-shadow: 2px 2px 0px var(--header-color, #ff0070);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: var(--accent-font, sans-serif);
  font-weight: 700;
  line-height: 82.5%; /* 129.525px */
}

/*  -------------------------768------------------------ */
@media (768px <= width < 1024px) {
  .header {
    padding: 20px;
  }

  .decorated-zone::before {
    right: 20px;
    top: 20px;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .rec-text {
    top: 22px;
    right: 30px;
  }
  .header__title {
    margin-inline-start: -21px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__block-content {
    max-width: 364px;
  }

  .content {
    padding-block: 60px;
    padding-inline: 20px;
  }

  .content__section {
    padding-block-end: 80px;
  }

  .content__section-why {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: minmax(236px, min-content) 1fr;
  }

  .content__section-why .main__title-second {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .content__section-what {
    grid-template-rows: min-content repeat(3, fit-content(727px));
    grid-template-columns: minmax(236px, min-content) 1fr;
  }

  .content__section-what .main__title-second {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .content__section-what .content__block-first {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .content__section-what .content__block-second {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .content__section-what .content__block-third {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .content__section-how {
    grid-template-rows: repeat(5, min-content);
    grid-template-columns: minmax(236px, min-content) minmax(472px, min-content);
  }

  .content__section-how .main__title-second {
    grid-row-start: 1;
    grid-row-end: 6;
  }

  .content__section-gallery .main__title-third {
    margin-bottom: 0;
  }

  .gallery {
    block-size: 100%;
  }

  .content__section-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 20px;
    align-items: start;
    grid-template-areas:
      "h3 h3 h3"
      "mountains mountains ice-cream"
      "ice-tape books ice-cream"
      "ice-tape street street"
      "ice-tape street street";
  }

  .content__section-gallery .main__title-third {
    grid-area: h3;
  }

  .section__gallery-mountains {
    grid-area: mountains;
  }

  .section__gallery-ice-cream {
    object-fit: cover;
    grid-area: ice-cream;
  }

  .section__gallery-ice-tape {
    grid-area: ice-tape;
    object-fit: cover;
  }

  .section__gallery-books {
    grid-area: books;
  }

  .section__gallery-street {
    grid-area: street;
  }

  .footer {
    padding: 20px;
  }
}

/*  ----------------------1024--------------------------- */
@media (width >= 1024px) {
  .header {
    padding: 20px;
    max-width: 1024px;
  }

  .decorated-zone::before {
    right: 20px;
    top: 20px;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .rec-text {
    top: 22px;
    right: 30px;
  }

  .header__title {
    margin-inline-start: -21px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__block-content {
    max-width: 491px;
  }

  .header__theme-menu {
    justify-content: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .content {
    padding-block: 60px;
    padding-inline: 20px;
  }

  .content__section {
    padding-block-end: 80px;
  }

  .content__section-why {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: minmax(315px, min-content) minmax(649px, min-content);
  }

  .main__title-second {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .content__section-what {
    grid-template-rows: min-content 1fr;
    grid-template-columns: repeat(3, fit-content(315px));
  }

  .content__section-what .main__title-second {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .content__section-what .content__block-first {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .content__section-what .content__block-second {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .content__section-what .content__block-third {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .content__section-how {
    grid-template-rows: repeat(5, min-content);
    grid-template-columns: minmax(315px, min-content) minmax(649px, min-content);
  }

  .content__section-how .main__title-second {
    grid-row-start: 1;
    grid-row-end: 6;
  }

  .gallery {
    block-size: 100%;
  }

  .content__section-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 20px;
    align-items: start;
    grid-template-areas:
      "h3 h3 h3"
      "mountains mountains ice-cream"
      "ice-tape books ice-cream"
      "ice-tape street street"
      "ice-tape street street";
  }

  .content__section-gallery .main__title-third {
    grid-area: h3;
  }

  .section__gallery-mountains {
    grid-area: mountains;
  }

  .section__gallery-ice-cream {
    object-fit: cover;
    grid-area: ice-cream;
  }

  .section__gallery-ice-tape {
    grid-area: ice-tape;
    object-fit: cover;
  }

  .section__gallery-books {
    grid-area: books;
  }

  .section__gallery-street {
    grid-area: street;
  }

  .footer {
    padding: 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
